<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420122681759-p7ink80htammchgmss2kdtbpdluqca3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420122681759-p7ink80htammchgmss2kdtbpdluqca3n</string>
	<key>API_KEY</key>
	<string>AIzaSyC9rD38-9h3m83AnbAW875Fj4ZoMmErcXc</string>
	<key>GCM_SENDER_ID</key>
	<string>420122681759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockDataApp3</string>
	<key>PROJECT_ID</key>
	<string>stock-data-app</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-data-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420122681759:ios:f04e0003c7cba85b915daa</string>
</dict>
</plist>